@charset "utf-8"; /****** FUENTE Y ESTILO PARA BARRA DE DIRECCION ******/
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@900&display=swap'); /****** ESTILOS GENERALES PARA EL CUERPO ******/
body {
    background-color: #4f72aa;
    color: #000000;
    text-align: justify;
    font-size: 11px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    line-height: 1.2;
    margin: 0px 0px 0px 0px;
}



.destacado {
    border: 3px solid black; /* Aplica un borde de 1px de grosor y color negro */
    position: relative; /* Establece el posicionamiento relativo para poder posicionar el texto */
    border-radius: 10px
}

.destacado img {
    width: 101; /* La imagen ocupará todo el ancho del contenedor */
    height: auto; /* La altura se ajustará automáticamente para mantener la proporción */
    border-radius: 10px

}

.texto-imagen {
    position: absolute; /* Establece el posicionamiento absoluto para superponer el texto */
    bottom: 5px; /* Sitúa el texto 5px desde el borde inferior */
    right: 5px; /* Sitúa el texto 5px desde el borde derecho */
    padding: 2px 5px; /* Añade un poco de espacio alrededor del texto */
    font-family: Alegreya Sans SC;
    color: #FFFFFF;
    font-size: 14px;
    text-shadow: 1px 1px black, -1px -1px black;
    vertical-align: bottom;
    text-align: center;
    position: absolute;
    user-select: none;
    line-height: 14px;
}


nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px; /* Ajusta la altura del contenedor según sea necesario */
    border: 2px solid black; /* Agrega un borde de 2px de grosor y color negro alrededor del contenedor */
    border-radius: 10px
}





html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.contenedor-central {
    width: 400px; /* Ancho fijo del contenedor central */
    height: 400px; /* Altura fija del contenedor central */
    border: 2px solid black; /* Borde del contenedor central */
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-imagen {
    width: 100%; /* Ancho del contenedor de la imagen igual al 100% del contenedor central */
    /*height: 50%; *//* Altura del contenedor de la imagen igual al 100% del contenedor central */
    overflow: hidden; /* Oculta cualquier parte de la imagen que sobresalga del contenedor */
    position: relative; /* Posiciona el contenedor de la imagen de forma relativa */
}

.contenedor-imagen img {
    position: absolute; /* Posiciona la imagen de forma absoluta */
    width: 100%; /* Ajusta el ancho de la imagen al 100% del contenedor de la imagen */
    height: 100%; /* Ajusta la altura de la imagen al 100% del contenedor de la imagen */
    /* object-fit: cover;  La imagen se ajustará al contenedor de la imagen, sin mantener su proporción */
}

.contenido {
    margin-top: 2px;
    flex: 1;
    display: flex;
    padding: 20px;
    border: 2px solid black; /* Añade un borde de 1px de grosor y color negro alrededor del contenido */
    border-radius: 10px; /* Borde redondeado con un radio de 10px */
}


.Reparticion{
    display: inline-flex;
    align-items: flex-start;
}

.margen_texto{
    position: absolute;
    left: 30%;
}

.margen_contenido{
        position: relative;
        top: 40px;}


.margen_imagen{
    float: right; /* Sitúa la imagen a la derecha */
    margin-left: 20px; /* Añade espacio entre la imagen y el texto */
    width: 50%; /* Ajusta el tamaño de la imagen a un 50% del ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
}


.size_image{
    height: 140px;
    width: 220px;
}


.personajes {
    /* margin-top: 2px; */
    flex: 1;
    display: flex;
    padding: 20px;
    /* border: 2px solid black; */
    /* border-radius: 10px; */
    align-items: center;
    flex-direction: column;
}


.dis_char{

    vertical-align: top;
    width: 800px;
    margin: 10px;
}